@import './_variables.scss';

.content-container {
  @include lg{
    width: 600px;
  }

  @include md {
    width: 400px;
  }
}

//POST HEADER
.post-header-profile-picture-container {
  display: flex;
  justify-content: space-between;
}

.post-header-profile-picture {
  width: 40px;
  height: 40px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 360px;
  border: 1px solid black;
}

//POSTS
.post-card {
  border-radius: $default-border-radius;
}

.post-user-banner {
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;
  img{
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 360px;
  }
}

.post-content-container {
  width: 100%;
}

.post-media {
  width: 100%;
}

.post-text-content-container{
  word-wrap: break-word;
}

