//BREAKPOINT-MINIMUM    
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

//PADDING-MARGIN
$default-size: 1rem;

//BORDER
$default-border: 1px;

//BORDER RADIUS
$default-border-radius: 1rem;

//SHADOW
$shadow-sm: 0 .125rem .25rem rgba(#000000, .075);
$default-shadow: 0 .5rem 1rem rgba(#000000, .15);
$shadow-lg: 0 1rem 3rem rgba(#000000, .175);

//FONT SIZE
$default-font-size: 1rem;

//COLOR



//FONT

$source-serif-pro: 'Source Serif Pro', serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$source-code-pro: 'Source Code Pro', monospace;
